body {
    background-image: url('src/assets/img/fifa-ultimate-team-22-black-background-block-desktop-01-ps4-ps5-en-09sep21.webp');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pitch-container {
    background-image: url('src/assets/img/stadium_background.webp');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 700px;
    /* aspect-ratio: 16 / 9; */
    background-color: #fff;
    position: relative;
    box-shadow: 90px 80px 40px 20px #0ff;
}

.pitch-slot {
    position: relative; 
    border: 3px solid white; 
    border-radius: 50%;
    width: 4%; 
    height: 4%;
    background-color: transparent; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.players-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 545px; 
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

.first-section-players-container {
    background-color: rgba(0, 0, 0, 0.208);
    padding: 5px;
    border-radius: 10px;
}

.add-delete-edit {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 50px;
    gap: 30px;
}

.add-delete-edit .add,
.add-delete-edit .delete,
.add-delete-edit .edit {
    background-color: #CFDB31; 
    color: black;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.add-delete-edit .add:hover{
    width: 120px;
    height: 55px;
    background-color: green;
    cursor: pointer;
}
.add-delete-edit .delete:hover{
    width: 120px;
    height: 55px;
    background-color: green;
    cursor: pointer;
}
.add-delete-edit .edit:hover{
    width: 120px;
    height: 55px;
    background-color: green;
    cursor: pointer;
}

.avilable-palyers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.test {
    position: relative;
    width: 25%;
    height: 160px;
    background-image: url('src/assets/img/badge_gold.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.pitchdis {
    position: relative;
    width: 47%;
    height: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.test-pitch{
    position: relative;
    width:  100%;
    height: 100%;
    background-image: url('src/assets/img/badge_gold.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.total-rating-pitch{
    position: absolute;
    font-size: 0.8rem;
    color: black;
    left: 25%;
    top: 8%;
}

.test-pitch{
    position: absolute;
    right: 35%;
    bottom: 30%;
}

.player-img-pitch{
    background-image: url('src/assets/img/i.png');
    position: absolute;
    top: 46%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35%;
    height: 35%;
}

.player-img {
    background-image: url('src/assets/img/i.png');
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 65%;
    height: 50%;
}

.player-image{
    position: absolute;
    top: 44%;
    left: 61%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 55%;
    height: 40%;
}

.palyer-ratingss{
    color: black;
    font-size: 0.48rem;
    position: absolute;
    left: 35%;
    top: 68%;
}

.ratings-namess{
    font-size: 0.32rem;
    gap: 19%;
    position: absolute;          
    top: 12%;   
}

.player-namee{
    color: black;
    position: absolute;
    font-size: 0.5rem;
    top: 63%;
    left: 37.5%;
}

.total-ratingg{
    color: black;
    font-size: small;
    left: 56px;
    top: 9px;
    position: absolute;
}

.total-rating {
    color: black;
    font-size: small;
    left: 15px;
    top: 20px;
    position: absolute;
}

.player-name {
    color: black;
    position: absolute;
    font-size: 0.4rem;
    top: 64%;
    left: 30%;
}

.palyer-ratings {
    color: black;
    font-size: 0.45rem;
    position: absolute;
    left: 25%;
    top: 70%;
}

.ratings-names {
    font-size: 0.26rem;
    gap: 10%;
    position: absolute;          
    top: 12%;   
}

.flags {
    display: flex;
    flex-direction: row;
}

.flag {
    background-image: url('https://cdn.sofifa.net/flags/ar.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 82%;
    left: 39%;
    width: 7%;
    height: 7%;
}

.club {
    background-image: url('https://cdn.sofifa.net/meta/team/239235/120.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 82%;
    left: 55%;
    width: 7%;
    height: 7%;
}

.palyer1 {
    position: absolute;
    border: 1px solid white;
    width: 25%;
    height: 150px;
    top: 50%;
    left: 50%;
}

#submit-add-a-player{
    width: 150px;
    height: 40px;
    background-color: #CFDB31;
    color: black;
    font-size: large;
    border-radius: 10px;
    border: #CFDB31;
    /* border-radius: 50%; */
}




#submit-add-a-player:hover{
    width: 155px;
    height: 45px;
    background-color: green;
    cursor: pointer;
}

.submit-add-a-goalkeeper{
    width: 150px;
    height: 40px;
    background-color: #CFDB31;
    color: black;
    font-size: large;
    border-radius: 10px;
    border: #CFDB31;
}


.submit-add-a-goalkeeper:hover{
    width: 155px;
    height: 45px;
    background-color: green;
    cursor: pointer; 
}



.confirm-delete-btn{
    width: 150px;
    height: 40px;
    background-color: #CFDB31;
    color: black;
    font-size: large;
    border-radius: 10px;
    border: #CFDB31;  
    margin-top: 10px;
}


.confirm-delete-btn:hover{
    width: 155px;
    height: 45px;
    background-color: green;
    cursor: pointer; 
}

input{
    width: 55%;
    height: 22px;
    background-color: rgb(41, 229, 229);
    border-radius: 10px;

}

#player-position{
    background-color: rgb(41, 229, 229);
    border-radius: 5px;

}

#tactil{
    background-color: rgb(41, 229, 229);
    border-radius: 5px;
}


.general-posistions{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: gray;
    padding-left: 2%;
    border-radius: 5px;
}

#add-a-player-to-pitch{
    border-left: 1px dotted gray;
    border-right: 1px dotted gray;
    border-bottom: 1px dotted gray;

    border-radius: 20px;
}




.player-list {
    position: absolute;
    background-image: url(./src/assets/img/fifa-ultimate-team-22-black-background-block-desktop-01-ps4-ps5-en-09sep21.webp);
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    gap: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    padding: 10px;
    height: 80%;
    width: 80%;
    margin-left: 15px;
    overflow-y: auto;

}



/* .chooseing{
    display: flex;
    flex-direction: column;
} */

/* .player-img{
    width: 35%;
} */

@media (max-width: 1024px) {
    .pitch-container{
        box-shadow: none;
    }

    .test{
        height: 160px;
        width: 160px;
    }

    .palyer-ratings{
        left: 33%;
    }

    .player-name{
        left: 33%;
        top: 65%;
    }

    .total-rating{
        left: 27%;
        top: 10%;
    }

    .test-pitch{
        right: 15%;
    }
}




@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .pitch-container {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        box-shadow: none;
    }

    .players-container {
        width: 100%;
        height: auto;
    }

    .test {
        width: 150px;
        height: 150px;
    }


    .player-img{
        width: 40%;
        height: 40%;
    }

    

    .avilable-palyers {
        justify-content: space-around;
    }

    .pitch-slot {
        width: 40px;
        height: 40px;
    }

    .player-name{
        display: flex;
        justify-content: center;
        align-items: center;
        left: 33%;

    }
}






@media (max-width: 480px) {
    .test {
        width: 120px;
        height: 120px;
    }

    .test-pitch{
        width: 110px;
        height: 120px;
        bottom: 30%;
        right: 25%;
    }

    .pitch-container {
        width: 100%;
        min-height: 500px;
        box-shadow: none;
    
    }

    .players-container {
        width: 100%;
        height: auto;
    }

    .pitch-slot {
        width: 35px;
        height: 35px;
    }
}



@media (max-width: 380px) {
    .test-pitch{
        width: 110px;
        height: 110px;
    }

    .test{
        width: 140px;
        height: 140px;
    }
}

